body{
    background-image: url(gambar/../pinterest.jpg);
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1{
    background-color: antiquewhite;
    text-align: center;
    
}


p{
    font-weight: 700;
    
}

h2{
    background-color: antiquewhite;
    text-align: center;
    
}

h3{
    background-color: antiquewhite;
    text-align: center;
           
}

h4{
    background-color: antiquewhite;
    text-align: center;
}

h5{
    background-color: antiquewhite;
    text-align: center;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.gambar{
    text-align: center;
    
}
